body{
    --firstcolor:#171717;
    --secondcolor:#ff8800;
    --thirthcolor:#fdb61b;
    --white:#e8d8c4;


    background-color: var(--firstcolor);
    margin:0%;

}
.navbar{
    background: url("img 1/01.jpg");
    opacity: 50%;
}

.border{
    display: flex;
    justify-content: space-between; 
    padding-top: 30px;
    padding-inline: 26px;
}

.logo{
    display: flex;
    gap: 1.3%;   
}

#logo{
    width:auto;
    height: 15%;
}

#font{
    padding: 0%;
    margin: 0%;
    padding-top:12px ;
    width: 200PX;
    font-size:150%;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color: var(--secondcolor);
}

#btn{
    width: 120px;
    height: 35px;
    border-style: none ;
    border-radius: 30px;
    background-color: var(--secondcolor);
    font-weight: bolder;
    color: var(--white);
}

.heroSection{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30PX;
}

.img1{
    width: 40%;
    height: auto;
}

.txt{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.txt1{
    margin: 0%;
    font-size: 53px;
    font-family:Times, 'Times New Roman', serif;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.txt2{
    width: 770px;
    margin: 0%;
    font-size: 40px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: var(--white);
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}
.txt22{
    margin: 0%;
}



